Django
Pillow
PySocks
Unidecode
amqp
appdirs
asgiref
attrs
billiard
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
django-admin-interface
django-admin-rangefilter
django-colorfield
django-environ
django-jalali
django-jalali-date
exceptiongroup
flower
gevent
greenlet
h11
humanize
idna
jdatetime
kombu
latest-user-agents
outcome
packaging
persiantools
pip
prometheus-client
prompt-toolkit
pycparser
python-dateutil
python-dotenv
python-slugify
pytz
redis
requests
setuptools
six
sniffio
sortedcontainers
sqlparse
text-unidecode
tornado
tqdm
trio
trio-websocket
tzdata
urllib3
vine
wcwidth
webdriver-manager
wheel
wsproto
zope.event
zope.interface
selenium==4.7.2